<!DOCTYPE html>
<html ng-app="sampleApp">

{% include head.html %}

<body ng-controller="sampleCtrl">
    <div id="container">
        <div class="inner">
            <div id="page" class="hfeed site">

                {% include content.html %}

                <ul>

                    {% for part in site.parts %}
                    <li>
                        {{ part.title }}
                        (
                        {% for tag in part.categories %}
                        {{ tag }}
                        {% endfor %}
                        )
                    </li>

                    {% endfor %}
                </ul>

                {% include footer.html %}
            </div>
        </div>
    </div>
</body>
</html>
