<!DOCTYPE html>
<html ng-app="sampleApp">

{% include head.html %}

<body ng-controller="sampleCtrl">
    <div id="container">
        <div class="inner">
            <div id="page" class="hfeed site">

                {% include content.html %}

                {% assign parts = site.parts | where:'frames', post.categories %}
                {% for part in parts %}
                {{ part.title }}
                {% endfor %}

                {% include footer.html %}
            </div>
        </div>
    </div>
</body>
</html>
